.wrapper {
    display: flex;
  }

/* *{
    background-color: #1B252F;
} */

.container{
    display: flex;
    min-height: 100vh;
}
.primary{
    padding: 1%;
    background-color: #1B252F;
    color: #ffffff;
}

.header{
    margin-left: 20%;
    font-size: xx-large;
    font-weight: bold;
}

.header .firsthalf{
    color: #f1011e;
}
.header .secondhalf{
    color: #42baeb;
    margin-top: -1em;
}
.nav-actions{
    list-style: none;
}
.btn{
    width: 120px;
    float: right;
    height: 45px;
    margin: 6px;
    color: #999999;
    font-size: large;
    border: none;
    /* padding: 9px; */
    border-radius: 24px;
    /* margin-top: 20%; */
    background-color: #1B252F;

}
.active, .btn:hover{
    color: #ffffff;
    background-color: #212F3C;
    border: none;
}

.active, .btn:hover span {
    padding-right: 25px;
  }
  
.btn:focus{
    background-color:#212F3C;
    outline: none;
}
.btn:visited{
    background-color: #212F3C;
}
.btn:hover span:after {
    opacity: 1;
    right: 0;
  }

.profile-image{
    display: block;
    margin-top: 50vh;
    margin-left: 30%;
    color: #f1011e;
}

.footer{
    margin-top: 40%;
    font-weight: bolder;
}
.social{
    color: #ffffff;
}
.social-element{
    padding: 10px;
}
.secondary{
    padding: 1%;
    display: flex;
    flex: 1;
    background-color: #212F3C;
    color: #ffffff;
}