*{
    font-family: Averta;
}
.container{
    display: flex;
}
.primary{
    padding: 1%;
    background-color: #1B252F;
    color: #ffffff;
}
.secondary{
    padding: 1%;
    display: flex;
    flex: 1;
    background-color: #212F3C;
    color: #ffffff;
}

.header{
    font-size: xx-large;
    font-weight: bold;
    margin-top: -1em;
}

.header .firstname{
    text-align: left;
    color: #f1011e;
}
.header .secondname{
    text-align: right;
    color: #42baeb;
    margin-top: -1em;
}
.navbar{
    display: flex;
    flex-direction: column;
}

.btn{
    width: 200px;
    float: left;
    height: 100px;
    margin: 10px;
    margin-right: -55px;
    color: #999999;
    font-family: Averta;
    font-size: larger;
    border: none;
    border-radius: 50px;
    background-color: #1B252F;
    cursor: pointer;
    justify-content: space-between;
}

.active, .btn:hover span {
    padding-right: 25px;
  }

.active, .btn:hover{
    color: #ffffff;
    background-color: #212F3C;
}

.btn span{
    margin-left: 8%;
}
.btn .btn-icon{
    size: 20
}

.btn:focus{
    background-color:#212F3C;
    outline: none;
}

.profile{
    text-align: center;
    display: block;
    margin-top: 68%;
    margin-left: auto;
    margin-right: auto;
}
.profile .image{
    color: #f1011e
}


.footer{
    font-weight: bold;
    font-size: small;
    display: flex;
}
.social{
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
}
.social .image{
    padding: 10px;
}

.copyright{
    text-align: center;
}

.search{
    display: flex;
}
.search .query{
    width: 55%;
    color: white;
}
.search .result{
    width: 60em;
    background-color: #eceff4;
    color: black;
    padding: 2%;
    /* font-size: 10px; */
}

.search-bar{
    width: 80%;
    height: 35px;
    margin: 9.8px 0 0;
    border: none;
    border-radius: 20px;
    outline: none;
    font-size: larger;
    padding-left: 20px;
}

.category .header{
    color: #ffffff;
    width: 30%;
    margin: 30px 178px 19.5px 0.3px;
    padding: 5px 14px 7px 11px;
    border-radius: 17px;
    border: solid 1px #0C1D2E;
    background-color: #0C1D2E;
    font-size: 16px;
}
.category .ruler{
    width: 70%;
    height: 0;
    margin-top: -7.5%;
    margin-left: 28%;
    border: solid 1px #0C1D2E;
}
.column{
   display: flex;
}
.list{
    list-style-type: none;
    color: #999999;
    font-family: Averta;
    letter-spacing: normal;
    font-style: normal;
    line-height: 1.25;
    text-align: left;
    font-stretch: normal;
}

.list .title{
    width: 60%;
    height: 40%;
    margin: 0 0px 13px;
    font-size: 24px;
    font-weight: 600;
}
.list .icon{
    size: 20;
    margin-right: 1%;
    margin-bottom: 2%;
}
.list .artist{
    font-size: 15px;
    font-weight: 400;
}

.list .album{
    width: 90%;
    height: 15px;
    font-size: 15px;
    font-weight: 600;
    color: #ecba2d;
}


.list .divider{
    width: 90%;
    height: 0px;
    margin-left: -4%;
    margin-top: 2%;
    margin-bottom: 6%;
    border: solid 1px #666666;
}